<div class="card">
    <div class="card-header">
        Formulario
    </div>
    <div class="card-body">
        <form>
            <label>Nombre</label>
            <input class="form-control" name="nombre" [(ngModel)]="nombre">
            <br/>

            <label>Mail</label>
            <input class="form-control" name="mail" [(ngModel)]="mail">
            <br/>
    
            <label>Clave</label>
            <input type="password" class="form-control" name="clave" [(ngModel)]="clave">
            <br/>
    
            <label>Perfil</label>
            <select class="form-control" name="perfil" [(ngModel)]="perfil">
                <option>profesional</option>
                <option>normal</option>
                <option>free</option>
            </select>
            <br/>
            <span class="text-warning">
                {{errorMessage}}
            </span>
            <br/>
            <button type="button" (click)="login()">Login</button>
            <button type="button" (click)="autocomplete('profesional')">profesional</button>
            <button type="button" (click)="autocomplete('normal')">normal</button>
            <button type="button" (click)="autocomplete('free')">free</button>
        </form>
    </div>
</div>