<div class="card">
    <div class="card-header">
        Formulario
    </div>
    <div class="card-body">
        <form>
            <label>Nombre</label>
            <input class="form-control" name="nombre" [(ngModel)]="nombre">
            <br/>

            <label>Mail</label>
            <input class="form-control" name="mail" [(ngModel)]="mail">
            <br/>
    
            <label>Clave</label>
            <input type="password" class="form-control" name="clave" [(ngModel)]="clave">
            <br/>
    
            <label>Tipo</label>
            <select class="form-control" name="tipo" [(ngModel)]="tipo">
                <option>cliente</option>
                <option>vendedor</option>
                <option>administrador</option>
            </select>
            <br/>
            <span class="text-warning">
                {{errorMessage}}
            </span>
            <br/>
            <button type="button" (click)="login()">Login</button> <br/>
            <button type="button" (click)="autocomplete('vendedor')">vendedor</button>
            <button type="button" (click)="autocomplete('cliente')">cliente</button>
            <button type="button" (click)="autocomplete('administrador')">administrador</button>
        </form>
    </div>
</div>